In [2]:
import pandas as pd

In [9]:
df = pd.read_csv('../data/raw/game.csv', parse_dates = ['game_date'])
df.head()

,season_id,team_id_home,team_abbreviation_home,team_name_home,game_id,game_date,matchup_home,wl_home,min,fgm_home,...,reb_away,ast_away,stl_away,blk_away,tov_away,pf_away,pts_away,plus_minus_away,video_available_away,season_type
0,21946,1610610035,HUS,Toronto Huskies,24600001,1946-11-01,HUS vs. NYK,L,0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,68.0,2,0,Regular Season
1,21946,1610610034,BOM,St. Louis Bombers,24600003,1946-11-02,BOM vs. PIT,W,0,20.0,...,NaN,NaN,NaN,NaN,NaN,25.0,51.0,-5,0,Regular Season
2,21946,1610610032,PRO,Providence Steamrollers,24600002,1946-11-02,PRO vs. BOS,W,0,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,53.0,-6,0,Regular Season
3,21946,1610610025,CHS,Chicago Stags,24600004,1946-11-02,CHS vs. NYK,W,0,21.0,...,NaN,NaN,NaN,NaN,NaN,22.0,47.0,-16,0,Regular Season
4,21946,1610610028,DEF,Detroit Falcons,24600005,1946-11-02,DEF vs. WAS,L,0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,50.0,17,0,Regular Season

In [20]:
df[df['game_date'] >= '2000-10-31'].reset_index(drop = True).sort_values(['team_abbreviation_home', 'game_date'])

,season_id,team_id_home,team_abbreviation_home,team_name_home,game_id,game_date,matchup_home,wl_home,min,fgm_home,...,reb_away,ast_away,stl_away,blk_away,tov_away,pf_away,pts_away,plus_minus_away,video_available_away,season_type
15918,12012,12323,ALB,Berlin Alba Berlin,11200002,2012-10-06,ALB vs. DAL,L,240,33.0,...,40.0,19.0,10.0,5.0,27.0,22.0,89.0,5,0,Pre Season
18797,12014,12323,ALB,Berlin Alba Berlin,11400022,2014-10-08,ALB vs. SAS,W,240,37.0,...,33.0,17.0,9.0,3.0,24.0,24.0,93.0,-1,0,Pre Season
1,22000,1610612737,ATL,Atlanta Hawks,20000004,2000-10-31,ATL vs. CHH,L,240,30.0,...,44.0,16.0,7.0,6.0,17.0,23.0,106.0,24,0,Regular Season
34,22000,1610612737,ATL,Atlanta Hawks,20000036,2000-11-04,ATL vs. ORL,L,240,39.0,...,40.0,14.0,5.0,6.0,22.0,23.0,107.0,3,0,Regular Season
102,22000,1610612737,ATL,Atlanta Hawks,20000104,2000-11-14,ATL vs. POR,W,240,37.0,...,34.0,14.0,10.0,6.0,19.0,21.0,97.0,-2,0,Regular Season
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16115,32012,1610616834,WST,West NBA All Stars West,31200001,2013-02-17,WST vs. EST,W,240,62.0,...,56.0,33.0,8.0,3.0,20.0,10.0,138.0,-5,0,All-Star
16116,32012,1610616834,WST,West NBA All Stars West,31200001,2013-02-17,WST vs. EST,W,240,62.0,...,56.0,33.0,8.0,3.0,20.0,10.0,138.0,-5,0,All Star
17551,32013,1610616834,WST,West NBA All Stars West,31300001,2014-02-16,WST vs. EST,L,240,65.0,...,47.0,46.0,12.0,0.0,14.0,13.0,163.0,8,1,All Star
21820,32016,1610616834,WST,West NBA All Stars West,31600001,2017-02-19,WST vs. EST,W,240,84.0,...,50.0,43.0,17.0,1.0,19.0,5.0,182.0,-10,0,All-Star
21821,32016,1610616834,WST,West NBA All Stars West,31600001,2017-02-19,WST vs. EST,W,240,84.0,...,50.0,43.0,17.0,1.0,19.0,5.0,182.0,-10,0,All Star