In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/raw/game.csv', parse_dates = ['game_date'])
df.head()

,season_id,team_id_home,team_abbreviation_home,team_name_home,game_id,game_date,matchup_home,wl_home,min,fgm_home,...,reb_away,ast_away,stl_away,blk_away,tov_away,pf_away,pts_away,plus_minus_away,video_available_away,season_type
0,21946,1610610035,HUS,Toronto Huskies,24600001,1946-11-01,HUS vs. NYK,L,0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,68.0,2,0,Regular Season
1,21946,1610610034,BOM,St. Louis Bombers,24600003,1946-11-02,BOM vs. PIT,W,0,20.0,...,NaN,NaN,NaN,NaN,NaN,25.0,51.0,-5,0,Regular Season
2,21946,1610610032,PRO,Providence Steamrollers,24600002,1946-11-02,PRO vs. BOS,W,0,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,53.0,-6,0,Regular Season
3,21946,1610610025,CHS,Chicago Stags,24600004,1946-11-02,CHS vs. NYK,W,0,21.0,...,NaN,NaN,NaN,NaN,NaN,22.0,47.0,-16,0,Regular Season
4,21946,1610610028,DEF,Detroit Falcons,24600005,1946-11-02,DEF vs. WAS,L,0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,50.0,17,0,Regular Season

In [12]:
df[(df['game_date'] >= '2000-10-31') & (df['season_type'].isin(['Regular Season', 'Playoffs']))].team_name_home.unique()

array(['Dallas Mavericks', 'Atlanta Hawks', 'Chicago Bulls',
       'Toronto Raptors', 'Orlando Magic', 'Vancouver Grizzlies',
       'Utah Jazz', 'Portland Trail Blazers', 'New Jersey Nets',
       'Golden State Warriors', 'New York Knicks', 'San Antonio Spurs',
       'Houston Rockets', 'Seattle SuperSonics', 'Charlotte Hornets',
       'Los Angeles Lakers', 'Miami Heat', 'Philadelphia 76ers',
       'Boston Celtics', 'Cleveland Cavaliers', 'Denver Nuggets',
       'Los Angeles Clippers', 'Phoenix Suns', 'Washington Wizards',
       'Detroit Pistons', 'Indiana Pacers', 'Milwaukee Bucks',
       'Minnesota Timberwolves', 'Sacramento Kings', 'Memphis Grizzlies',
       'New Orleans Hornets', 'Charlotte Bobcats',
       'New Orleans/Oklahoma City Hornets', 'Oklahoma City Thunder',
       'Brooklyn Nets', 'New Orleans Pelicans', 'LA Clippers'],
      dtype=object)

In [5]:
df[df['game_date'] >= '2000-10-31'].season_type.unique()

array(['Regular Season', 'Playoffs', 'All-Star', 'All Star', 'Pre Season'],
      dtype=object)